* {
	margin: 0;
	padding: 0;
}

body {
    background: #151515;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    font-family: sans-serif;
}

.container a {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
}

a {
	text-decoration: none;
	color: white;

}

a img {
	width: 300px;
	border-radius: 10px;
	transition: 0.3s;
}

a h2 {
	transition: 0.3s;
}

a:hover img {
	transform: scale(0.8);
}

a:hover h2 {
	transform:translateY(-20px);
}